OPENAI_API_KEY=your_openai_key

ORACLE_USER=system
ORACLE_PASSWORD=password
ORACLE_DSN=localhost:1521/FREEPDB1

SQLSERVER_CONN_STR=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=master;UID=sa;PWD=password
